html {
    font-size: large;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-section {
    display: flex;
    align-items: center;
}

#logo {
    gap: 1rem;
    font-size: 0.9rem;
}

nav a {
    border-right: solid black 0.1rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
}



#logo-round {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}


section img {
    border-radius: 50%;
}

main {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}



#buttons {
    display: flex;
    justify-content:space-evenly;
    font-weight: bold;
    align-items: center;
    gap: 1rem;
}

.main-button {
    padding: 3rem;
    border: solid black 0.1rem;
    border-radius: 50%;
    box-shadow:  5px 5px 5px;
    transition: background-color 0.5s ease;
    text-align: center;
    width: 33%;

}

.main-button:hover {
    background-color: white  !important;
    cursor: pointer;
}

.main-button a {
    text-decoration: none;
    color: black;


}

#line {
    text-align: center;
}



#moi {
    width: 35%;
}

main section {
    width: 35%;
}

div img {
    width: 100%;
    border-radius: 50%;
}

footer {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.footer-item img {
    width: 2rem;
    height: 2rem;
}